*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# AppVeyor build artifacts
*.apk
*.aab

# Debug files
*.log
*.zip
emulator-*.png
emulator-*.log
bugreport-*.zip
mrezo-emulator-screen.png

# Keep drawable resources
!app/src/main/res/**/*.png
